<div id="custom-search-input">
    <div class="Qterm">
        <ul><label><h5>Select a question term: </h5></label></ul>
        <label class="radio-inline"><input type="radio" name="optradio" value="What" style="margin: 3px">What</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="Where" style="margin: 3px">Where</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="When" style="margin: 3px">When</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="Why" style="margin: 3px">Why</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="Who" style="margin: 3px">Who</label>
        <label class="radio-inline"><input type="radio" name="optradio" value="How" style="margin: 3px">How</label>
        <p><h5>Alternative Possibilities:</h5></p>
        <ul id="suggestions"></ul>
    </div>
</div>
