<!-- Begin page content -->
<main role="main" class="container">
    <div style="margin-top: 200px; margin-bottom: 20px" class="row">
        <div class="col-md-12">
            <h3 class="text-center">Search By Question</h3>
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                </div>
                <div id="custom-search-input" data-toggle="tooltip" title="Please select a question term!">
                    <div class="input-group col-md-12">
                        <input type="text" id="keyboardText" name="question"
                               class="form-control input-lg" placeholder="Type Your Question" maxlength="160"
                               style="background-color: unset"/>

                        <span class="input-group-btn">
                            <button id="keyforinput" class="btn btn-light">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-info btn-lg" onclick="sendQuestion();" type="button">
                                <i id="virtual" name="v" class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>