<!-- Begin page content -->
<main role="main" class="container">
    <hr>
    <div class="text-center">
        <a class="btn btn-success align-self-center" href="javascript:window.location.href=params.mainUrl">Ask A New Question</a>

    </div>
    <hr>
    <hgroup class="mb20">
        <h1>Answer Sources</h1>
        <h2 class="lead"><strong id="document_count" class="text-danger"></strong> source were found for the search for <strong id="qarea" class="text-danger"> </strong></h2>
    </hgroup>
    <hr>
    <section id="answers" class="col-xs-12 col-sm-6 col-md-12">



    </section>
</main>