<!-- Begin page content -->
<main role="main" class="container">
    <div style="margin-top: 200px" class="row">
        <div class="col-md-12">
            <h2 class="text-center">Search By Question</h2>
                <div class="form-row align-items-center">
                  <div class="col-auto my-1">
                  </div>
            <div id="custom-search-input">
                    <div class="input-group col-md-12">
                            <input type="text" id="keyboardText" name="question" class="form-control input-lg" placeholder="Type Your Question" maxlength="160"/>
                            <span class="input-group-btn">
                            <button id="keyforinput" class="btn btn-light">
                                <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-info btn-lg"  onclick="" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                            <div id="incorrect-word-list"></div>
                        </span>
                    </div>   
            </div>
        </div>
    </div>
</main>
<div class="Qterm">
    <label><h6>Select a question term: </h6></label>
    <label class="radio-inline"><input type="radio" name="optradio" value="What">What</label> 
    <label class="radio-inline"><input type="radio" name="optradio" value="Where">Where</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="When">When</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="Why">Why</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="Who">Who</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="How">How</label>
    
</div>