<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

         <!-- css to share buttons -->
         <link rel="stylesheet" type="text/css" href="css/jssocials.css">  
         <!-- min css to share buttons -->
         <link rel="stylesheet" type ="text/css" href="css/jssocials-theme-flat.css"> 

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

         <!-- js to share buttons -->
         <script src="js/jssocials.js"></script>
         <!-- min js to share buttons --> 
         <script src="js/jssocials.min.js"></script> 

    </head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>

<div class="loadergif">
    <div style="position: relative;left:-50%; margin-top: 200px;">
        <img style="border-radius: 30px; width: 250px; height: 140px;" src="images/loading.gif" alt="">
    </div>
</div>

<!-- Begin page content -->
<main role="main" class="container">
    <div style="margin-top: 200px" class="row">
        <div class="col-md-12">
            <h2 class="text-center">Search By Question</h2>
            <hr>
            <div class="answer text-center align-content-center" >
                <h5 style="text-decoration: underline">Question</h5>
                <p id="question"></p>
                <h6 style="text-decoration: underline">Answer</h6>
                <p id="answer" class="font-italic font-weight-bold"></p>

                <a href="javascript:gotoDocument()">Go to source of answer</a> | <a href="javascript:gotoAllDocuments()" >Find all related sources</a> | <a href="">Copy Answer</a>
                <br><br>
                <a class="btn btn-success align-self-center" href="javascript:window.location.href=params.mainUrl">Ask A New Question</a>
            </div>

            <hr>
        </div>
    </div>

   
</main>