<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

         <!-- css to share buttons -->
         <link rel="stylesheet" type="text/css" href="css/jssocials.css">  
         <!-- min css to share buttons -->
         <link rel="stylesheet" type ="text/css" href="css/jssocials-theme-flat.css"> 

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

         <!-- js to share buttons -->
         <script src="js/jssocials.js"></script>
         <!-- min js to share buttons --> 
         <script src="js/jssocials.min.js"></script> 

    </head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <div style="margin-top: 200px" class="row">
        <div class="col-md-12">
            <h2 class="text-center">Search By Question</h2>
            <hr>
            <div class="answer text-center align-content-center" >
                <h6>Question:</h6>
                <p class="font-italic font-weight-bold">When was Ataturk born?</p>
            <div class="answer text-center align-content-center" >
                <h6>Answer:</h6>
                <p class="font-italic font-weight-bold">1881</p>

                <a href="http://localhost:8884/datasets">Go to source of answer</a> | <a href="http://localhost:8884/datasets">Find all related sources</a> | <a href="">Copy Answer</a>
            </div>

            <hr>
                </div>
            </div>    
        </div>
    </div>

   
</main>